@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');


/*font inter*/

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*font miama*/

 .miama {

    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-style: italic;
  }                                                                                       
     

/*shared style start*/

.text-color{
  color: white;
}
.primary-color{
  color: rgba(230, 83, 60, 1);
}
.second-color{
  
  background-color: rgba(17, 17, 17, 1);
}
.light-black{
  color: rgba(255, 255, 255, 0.5);
}
.btn-primary{
  background-color: rgba(230, 83, 60, 1);
  padding: 16px 46px; 
  color: white;
  font-weight: 700;
  border-radius: 40px;
  border: none;
  font-weight: 600;
  font-size: 1.125rem;
}

.title-text{
  font-weight: 900;
  font-size: 3rem;
  padding-bottom: 14px;
}


  *{
    margin: 0;
    padding: 0;
  }
  .line-space{
    letter-spacing: 0.3px;
    line-height: 1.7;
  }
  .display-flex{
    display: flex;
  }
  .header-container,
  .habit-container,
  .run,
  .team-pictures,
  .plan-container{
    width: 80%;
    margin: 0 auto;
  }
  /*shared style end*/
  /*header section start */
  
 
  .nav-title{
    align-content: center;
    margin-top: 20px;
    font-size: 2.1rem;
    font-weight: 800;
    font-style: italic;
  }
  .nav-bar{
    display: flex;
    justify-content: space-between;
    
  }
  .nav-items{
    display: flex;
    justify-content: space-between;
    padding: 8px 3px;
   margin-top: 30px;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 40px;
   
   
  }
  ul span{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 45px;
    padding: 8px 20px;
  }
  .nav-item{
    list-style: none;
    margin-right: 40px;

    
  }
  .nav-link{
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  .hambergur{
    display: none;
  }

  .header-text{
    margin-top: 95px;
  }

  .header-title{
    max-width: 520px;
    font-size: 4.9rem;
    font-weight: 900;
    line-height: 1.1;
  }
  
  .header-pic{
   position: relative;
  }
  .header-container-2{
    display: flex;
    justify-content: space-between;
  }
  .header-description{
    margin:28px auto ;
    color: rgba(255, 255, 255, 0.51)
  }
  .btn-secondary{
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 600;
    font-size: 1.125rem;
    margin-left: 14px;
    padding: 16px 46px;
    color: white;
    font-weight: 700;
    border-radius: 40px;
   
  }
  .header-box{
    
    display: flex;
    justify-content:left;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: absolute;
    top: 68%;
    right: 72%;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  .header-box h3{
    font-weight: 800;
    font-size: 1.4rem;
    margin-top: 17px;
  }
  
  .header-box-1{
    width: 180px;
    padding: 17px 17px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: absolute;
    top: 22%;
    left: 65%;
    /* padding-left: 23px */
  }
  .header-box-1 h1{
    font-size: 2.5rem;
    font-weight: 900;
  }
  .header-box p{
    /* margin-top: 5px; */
    color: rgba(255, 255, 255, 0.51)
    
  }
  .header-box-1 p{
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.51)
    
  }
  
  .ball{
    
    width: 50px;
    height: 50px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 50%;
    margin: 10px;
    margin-top: 17px;
    
  }
  #play-icon{
    position: absolute;
    left: 17%;
    top: 44%;

  }
  header{
    background: linear-gradient(to bottom, rgba(17, 17, 17, 1), rgba(68, 68, 68, 0.5), rgba(119, 119, 119, 0));
  }
  /*habit section*/
  .habit-container-text{
    max-width: 670px;
    margin: 0 auto;
    text-align: center;    
    padding-top: 100px;
    padding-bottom: 55px;
  }
  .habit-container-text h2{
    font-weight: 900;
    font-size: 3rem;
    padding-bottom: 14px;
  }
 .habits{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;
  }
   .habit-box{
    max-width: 230px;
    text-align: center;
   }
   .habit-box img{
    margin-bottom: 30px;
    border-radius: 100px;
   }
   .habit-box p{
    margin-top: 6px;
    color: rgba(255, 255, 255, 0.5);
   }
   /*run section*/
   .run{
    display: grid;
    grid-template-columns: 65% 35%;
    background-color: rgba(34, 34, 34, 1);
    margin-top: 100px;
    border-radius: 18px;

   }
   .run-pic-container div{
    width: 366px;
    height: 312px; 
    
   }
  
   .run-pic{ 
    width: 100%;
    height: 100%;
    border-radius: 18px;
    
   }
   .run-pic-container{
    padding: 40px 30px 40px 54px;
   }
   
   

   .run-text{
    max-width: 443px;
    padding: 40px 30px 40px 54px;

   }
   .run-text h1{
    max-width: 400px;
   }
   .run-text p{
    margin-bottom: 34px;
    margin-top: 14px;
    letter-spacing: 0.3px;
    line-height: 1.7;
   }
   .run-text button{
    padding: 16px 70px;
   }

   /*bmi section*/
   .bmi-text{
    max-width: 671px;
    text-align: left;
    padding: 88px 0px;
    padding-left: 384px ;
 }
  .bmi-text h1{
    padding-bottom: 14px;
  }
  .calculate-bmi{

    width: 100%;
    background-color:rgba(34, 34, 34, 1) ;
    justify-content: space-around;
    padding: 50px 0px;
  }
   .bmi-chart h2{
    margin-bottom: 50px;
   }
   .calculate-bmi button{
    padding: 16px 70px;
   }
   td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 15px;
   }
   td{
    color: rgba(255, 255, 255, 0.5);
   }
   table{
    border-collapse: collapse;
   }
   .my-bmi{
    max-width: 577px;
    
   }
   form{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
    color: rgba(255, 255, 255, 0.6);
    padding: 34px 0px;
   }
   #child1, #child2, #child3, #child4, #child5{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 13px 180px 13px 20px;    
    border-radius: 8px;
    border: none;
   } 
   #child1{
    grid-column: 1/span 2;
   }
   #child2{
    grid-column: 3/span 2;
    
     }
   #child3{
    grid-column: 1/span 2;
    
     }
   #child4{
    grid-column: 3/span 2;
 
    color:rgba(255, 255, 255, 0.275); 
    
   }
   #child5{
    grid-column: 1/span 4;
    color:rgba(255, 255, 255, 0.275);   
   
   }
   .my-bmi h2{
    padding-bottom: 15px;
   }
   .my-bmi p{
      letter-spacing: 0.3px;
      line-height: 1.7;
     
   }
   /*subscription plan*/
   
   .plan{
    margin-top: 100px;
   }
   .plan >h1{
    text-align: center;
    margin-bottom: 30px;
   }
   
   .plans{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    text-align: center;    
   }
  
   .plan-1, .plan-2,.plan-3{
    padding-top: 30px;
    padding-bottom: 20px;
     border-radius: 18px;
    background-color:rgba(255, 255, 255, 0.275) ;
   }
   
   .plans h1:nth-child(2) {
    padding-left: 30px;
    text-align: left;
    font-size: 1.7rem;
   }
   .plans h1:nth-child(1) {
    padding-bottom: 10px;
    font-size: 2rem;
    text-align: left;
   }
   .plans p {
    font-weight: 600;
    padding: 25px;
    text-align: left;
    padding-left: 30px;
   }
   .plan-border{
    border-bottom:1px solid ;
    margin: 5px 20px;
    margin-left: 30px;
   }
   
   
   .plans li{
  
    list-style: circle;
    list-style-position: inside;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 30px;
   }
   /*our team*/
   .team-pictures{
    width: 75%;
    margin: 0 auto;
  }
   .team {
    padding-top: 88px;
    text-align: center;
   }
   .team p{
    padding-bottom: 56px;
   }
   
   .team-pictures p{
    position: absolute;
   }
   .team-pictures{
    background-color:rgba(255, 255, 255, 0.1) ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    margin-bottom:100px ;
   }
   .team-pictures>div{
    position: relative;
    height: 272px;
   
   }
   .team-pictures img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
   }
   
   .t-name{
    position: absolute;
    transform: translate(50%, -50%);
    top: 80% ;
    left: -10%;
   }
   
   /*footer section*/
   footer{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
   }
   footer li{
    list-style: none;
    padding-top: 20px;
   }
   footer a{
    color: rgba(255, 255, 255, 0.656);
    text-decoration: none;
   }
   .footer-container{
    display: grid;
    padding: 66px 180px;
    grid-template-columns: 54% 23% 23%;
    gap: 60px;

    
   }
   .footer-container h1{
    font-weight: 800;
    font-size: 4.375rem;
    color: rgba(230, 83, 60, 1);
    padding-bottom: 20px;
   }
   .footer-container p{
    max-width: 440px;
    letter-spacing: 0.3px;
    line-height: 1.7;
   
 }
 .footer-container h4{
  font-size:1.5rem; 
  font-weight: bold;
 }
   .right{
    max-width: 1060px;
    border-top: 1px solid rgba(255, 255, 255, 0.349);
    padding-left: 100px;
    padding-bottom: 36px;
    padding-top: 36px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
   }

   /*responsive*/
   @media screen and (min-width:993px) and (max-width:1230px){

    .header-box{
      top: 68%;
      right: 30%;
  
    }
    .header-title{
      line-height: 0.9;
    }
    
   }